<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.qa.crm.Listener.Listener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.crm.qa.Analyzer.MyTransformer"/>
</listeners>
<!--  <test name="Contact">
		<parameter name="browser" value="chrome" />
		<parameter name="url"
			value="https://classic.crmpro.com/index.html" />
		<classes>
			<class name="com.crm.qa.testcases.ContactsTestCases" />
		</classes>
	</test>   -->
	
	
	<test name="Product">
		<parameter name="browser" value="chrome" />
		<parameter name="url"
			value="https://classic.crmpro.com/index.html" />
		<classes>
			<class name="com.crm.qa.testcases.DealsTestCase" />
		</classes>
	</test> 
</suite> <!-- Suite -->


